<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi, minimal-ui">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400&subset=latin,latin-ext">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="The City Awards Blog" href="http://blog.thecityawards.com/posts.rss" />
  </head>
  <body class="{{ page.pageclass }}">
    <header class="blog-header section">
      <div id="animated-logo">
        <ul class="buildings"><li class="building-1"></li><li class="building-2"></li><li class="building-3"></li><li class="building-4"></li><li class="building-5"></li><li class="building-6"></li></ul><i class="star star1"></i><i class="star star2"></i><i class="star star3"></i><i class="star star4"></i><i class="star star5"></i><h1>{{ page.heading }}</h1>
        <p>{{ page.subheading }}</p>
      </div>
    </header>
    <nav class="blog-nav"></nav>
    <hr class="divider-star">
    <div class="blog-main section">
      {{ content }}
    </div>
    <div class="blog-more section">
      <h2>More from The City Awards</h2>
      <ul>
        <li>
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas modi velit quibusdam minus aspernatur.</p>
        </li><li>
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eius, suscipit molestias architecto quaerat illum.</p>
        </li><li>
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptas, molestias necessitatibus cumque, voluptatibus voluptate.</p>
        </li><li>
          <h3>Lorem ipsum dolor sit.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque necessitatibus, quia culpa quae vel. Ipsam.</p>
        </li>
      </ul>
    </div>
    <div class="blog-links section"></div>
    <footer class="blog-footer section theme--c1">
      <h2>Where is the #BestBurgerInLondon?</h2>
      <p>Find out now, and vote yourself at <a href="http://www.thecityawards.com">www.thecityawards.com</a></p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    setTimeout(function() {
      $('body').addClass('animation--start');
    }, 1000);
    </script>
    {% include analytics.html %}
  </body>
</html>