---
---
@import "_mixins";
@import "_copy";
@import "_syntax";
@import "_post";

.blog-header {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}
  .back-to-tca {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
  }


.blog-main {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  .blog-tags {
    position: absolute;
    right: 5%;
    top: 50px;
  }
}

.blog-more {
  background: rgb(249, 249, 249);
  > ul {
    padding: 20px 0;
    margin: 0;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      @include prefix(box-sizing, border-box);
      padding: 10px 40px 10px 0;

      @include from-width(600) {
        width: 50%;
      }

      @include from-width(900) {
        width: 33.3%;
      }

      @include from-width(1200) {
        width: 25%;
      }
    }
  }
}

.divider-star {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 20px auto;
  position: relative;
  display: block;
  clear: both;
  background: rgb(249, 249, 249);
  @include prefix(border-radius, 20px);

  &:after {
    content: '★';
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 18px;
    margin-left: -9px;
    margin-top: 9px;
    line-height: 1;
    color: white;
    font-style: normal;
    color: #414141;
    @include transition(all 1s);
  }

  &:hover {
    &:after {
      @include transform(rotate(720deg) scale(.5));
    }
  }
}